# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List commonly used libraries for Data Science
* List some of the tools for Data Science
* Evaluate arithmetic expressions in Python

Some of the popular languages that Data Scientists use are: Python, R, SQL, Julia, Scala.

Some of the commonly used libraries used by Data Scientists include:NumPy, Pandas, scikit-learn.

# Data Science Tools
* RStudio
* Apache Spark
* TensorFlow

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
# This will convert 200 minutes to hours by diving by 60
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print(f"{minutes} minutes is equal to {hours:.2f} hours.")

200 minutes is equal to 3.33 hours.

## Author

YANG XIAOJING